.formulario{

    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    background-color: green;
    border: solid rgb(48, 124, 223) 20px;

}

.nombre{

    border: solid red 2px ;
    margin-left: 25px;
}

.email
{

    border: solid red 2px ;
    margin-left: 39px;
}

.pais
{

    border: solid red 2px ;
    margin-left: 50px;
}

.tel{
    border: solid red 2px ;
    margin-left: 20px;
}

.tarjeta{

    border: solid red 2px ;
    margin-left: 1px;
}

.nombret{
    border: solid red 2px ;
    margin-left: 65px;
}