body{background-color:darkturquoise;}

h1{

    text-align: right;
}

.res0{color: red;}

.res1{color: orange;}

.res2{color: orange;}

.res3{color: orange;}

.res4{color: orange;}

.res5{color: orange;}