body{background-color: darkgreen;}

.puno{font-style: italic;color: darkkhaki;}
.pdos{font-style:normal ;color: rgb(107, 189, 185);}
.ptres{font-family:'Times New Roman', Times, serif;color: darkkhaki;}
.pcuatro{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(189, 140, 107);}
.pcinco{font-style: italic;color: rgb(115, 107, 189);}
.pseis{font-style: italic;color: rgb(37, 75, 202);}
.psiete{font-style: italic;color: rgb(248, 243, 242);}
.pocho{font-family:sans-serif;color: rgb(135, 48, 206);}